@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&family=Amatic+SC:wght@700&family=Anton&family=Bangers&family=BioRhyme&family=Caveat&family=Cherry+Swash:wght@700&family=Corben:wght@700&family=Creepster&family=Economica:wght@700&family=Homemade+Apple&family=IM+Fell+DW+Pica+SC&family=Kaushan+Script&family=Londrina+Shadow&family=Montserrat+Subrayada&family=Oswald:wght@700&family=Permanent+Marker&family=Quicksand&family=Roboto+Condensed:wght@700&family=Teko&family=Vollkorn&display=swap');
.header {
  background-color: #fff;
  width: 100%;
  border-bottom: solid 5px #5989cf;
}

.row {
  display: flex;
  align-items: center;
}

.post {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Anton', sans-serif;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #474747;
  background: whitesmoke;/*背景色*/
  border-left: double 7px #4ec4d3;/*左線*/
  border-right: double 7px #4ec4d3;/*右線*/
}

a {
  color: black;
  text-decoration: none;
  padding: 10px;
}

h1 {
  font-weight: bold;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 40px;
}

ul {
  display: flex;
  margin:0 0 0 auto;
  padding:0;
  list-style: none;
}

.grid-6 {
  color: #364e96;
  padding: 10px 0;
  border-top: solid 3px #364e96;
  border-bottom: solid 3px #364e96;
}
.search {
  float: right;
  padding-left: 100px;
}

.search-input {
  padding: 10px;
  border-radius: 30px;
}

.search-btn {
  padding: 5px;
  background: skyblue;
  border-radius: 30px;
}