<header class='third-header'>
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">FootballStadium</a></h1>
        <ul>
          <li><%= link_to '試合予定投稿', new_match_path, class: "post" %>
          <li><%= link_to 'マイページ', user_path(current_user.id), class: "post" %></li> 
        </ul>
      </div>
</header>