.show-league {
  color: antiquewhite;
  font-size: 40px;
}

.team-show-name {
  color: black;
  font-size: 40px;
}

.show-score {
  font-size: 40px;
  padding: 150px 30px 0 30px;
}

.team-show-image {
  width: 20vh;
  height: 20vh;
}

.place-large {
  color: aliceblue;
  text-align: center;
  padding-top: 30px;
  font-size: 40px;
}

.match-edit {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin: 30px;
  padding: 20px;
}

.or-text {
  padding-top: 10px;
}

.match-red-btn,.match-destroy-btn {
  background-color: pink;
  border: 2px solid #333;
  color: #333;
  line-height: 50px;
  margin: 0 20px;
}

.comments {
  display: block;
  justify-content: center;
  text-align: center;
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
}

.comment2 {
  font-size: 15px;
  width: 80vh;
  height: 10vh;
}

.send-btn {
  color: aliceblue;
  font-size: 30px;
  margin: 20px;
  width: 80vh;
  height: 60px;
  background: skyblue;
  border-radius: 30px;
}

.scoreler {
  background-color: aliceblue;
  margin: auto;
  width: 700px;
  height: 400px;
}
.show-scoreler {
  text-align: center;
  border: solid 1px gray;
  font-size: 30px;
}
.home-team-scoreler,.away-team-scoreler {
  margin: 30px;
  border: solid 2px black;
  height: 300px;
  width: 300px;
}

.scoreler2 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.review {
  border: solid 1px black;
  background-color: aliceblue;
  margin: auto;
  text-align: center;
  justify-content: center;
  width: 700px;
  height: 300px;
}

.show-review {
  font-size: 30px;
}

h3 {
  color: white;
}

.scoreler,.review{
  border-radius: 30px;
}
